.container-fluid {
  //   position: fixed;
  width: 100%;
  height: 100%;
  //   top: 0px;
  //   left: 0px;
  //   z-index: 1000;
  margin-top: 3rem !important;
}
.pag {
  display: flex;
  justify-content: center;
}
