.container-fluid {
  width: 100%;
  height: 100%;
  margin-top: 3rem !important;
  padding-bottom: 5rem;
}

h4 {
  text-align: center;
  margin-top: 6rem;
}
.pag {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
